@inherits LayoutComponentBase

<PageTitle>BC.Util</PageTitle>

<div class="page">
    <Layout>
    <Sider Style="overflow: auto;height: 100vh;position: fixed;left: 0;">
        <div class="logo">
			<a href="/" title="返回首页"></a>
			<h1>实用工具</h1>
			<p>功能全面的在线工具箱</p>
		</div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"sub1"}) DefaultOpenKeys=@(new[] {"sub1"})>
            @{ RenderFragment sub1Title =
                        @<span>
                            <Icon Type="user" Theme="outline" />
                            编码加密
                        </span>; }
                    <SubMenu Key="sub1" Title="编码加密">
                        <NavLink class="nav-link" href="guid" Match="NavLinkMatch.All">
                            <MenuItem Key="sub1m1">GUID 生成</MenuItem>
                        </NavLink>
                        <NavLink class="nav-link" href="md5" Match="NavLinkMatch.All">
                            <MenuItem Key="sub1m2">MD5 计算</MenuItem>
                        </NavLink>
                        <NavLink class="nav-link" href="base64" Match="NavLinkMatch.All">
                            <MenuItem Key="sub1m3">Base64 编码&解码</MenuItem>
                        </NavLink>
                        <NavLink class="nav-link" href="aes" Match="NavLinkMatch.All">
                            <MenuItem Key="sub1m4">AES 编码&解码</MenuItem>
                        </NavLink>
                    </SubMenu>
        </Menu>
    </Sider>
    <Layout Class="site-layout" Style=" margin-left: 200px">
        <Header Class="site-layout-background" Style="padding: 0" ></Header>
        <Content Class="site-layout-background" Style="margin: 24px 16px 0; padding:24px; overflow: initial; min-height:calc(100vh - 158px); ">
            @Body
        </Content>
        <Footer Class="footer" Style=" text-align: center; position:fixed; left:200px; bottom:0; right:0;">
            感谢 <a href="https://github.com/91651/DevUtilities/issues" target="_blank" >问题反馈</a>，<a href="mailto:mail@521.org.cn">Email</a>
            <br />
            本站由<a href="https://dotnet.microsoft.com/download/dotnet/6.0" target="_blank">.NET 6.0</a>驱动，<a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor" target="_blank">Blazor</a>技术展现！本站源代码：
            <a href="https://github.com/91651/DevUtilities" target="_blank" >Github</a>
            Copyright © 2021 BC开发团队
        </Footer>
    </Layout>
</Layout>

</div>

<style>
    .logo {
        margin: 30px auto;
        text-align:center;
    }
    .logo h1{
        color:#4caf50;
        font-size:1.6rem;
        font-weight:700
    }
    .logo p{
        color:#666;
        font-size:.9rem
    }
    .site-layout .site-layout-background {
        background: #fff;
    }
    .site-layout .footer {
        padding: 10px 0;
    }
</style>